.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form-control {
    width: 100px;
    height: 10px;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    border: 1px solid black;
    border-radius: 4px;
}
.form-control:focus {
  width: 25%;
}

.form-control:hover{
    width: 300px;
}
